<?xml version="1.0"?>
<launch>
	<include file="$(find gazebo_ros)/launch/empty_world.launch">	</include>
	<!-- <include file="$(find gazebo_ros)/launch/shapes_world.launch">	</include> -->

        <arg name="model" default="$(find spotmini)/urdf/spotmini.urdf" />
        <param name="robot_description" command="cat $(find spotmini)/urdf/spotmini.urdf" />

	<node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
		args="-urdf -model spotmini -param robot_description -z 0.5">
	</node>
	    
	<node name="control_spot" pkg="spotmini" type="control_spot.py" />
	<node name="image_listener" pkg="spotmini" type="camera.py" />

	<rosparam command = "load" file= "$(find spotmini)/controllers/gazebo_spot_control.yaml"/>
	
	  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
   	   output="screen" ns="/spot" args="joint1_position_controller joint2_position_controller 
		joint3_position_controller joint4_position_controller
		joint5_position_controller joint6_position_controller
		joint7_position_controller joint8_position_controller
		 joint10_position_controller
		joint11_position_controller joint12_position_controller   
		joint_state_controller"/>

</launch>