<?xml version="1.0"?>
<launch>
	<include file="$(find gazebo_ros)/launch/empty_world.launch">	</include>
`

        <arg name="model" default="$(find spotmini)/urdf/spotmini.urdf" />
        <param name="robot_description" command="cat $(find spotmini)/urdf/spotmini.urdf" />


	<node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
		args="-urdf -model mini -param robot_description -z 1">
    </node>


	<rosparam command = "load" file= "$(find spotmini)/controllers/gazebo_spot_control.yaml"/>	
	  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/spot" args="joint2_position_controller joint3_position_controller joint1_state_controller"/>


</launch>
